

.full-page {
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #084299; /* Set a background color */
  }
  
  .header {
    width: 95%;
    max-width: 550px;
    /* padding: 20px; */
    background-color: #ffffff; /* Set a background color for the form */
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add a box shadow */
  }
  .title{
    text-align: center;
    margin: -5px ;
  }
 
  
  